<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panda Cinemax Admin</title>
    <link rel="icon" type="image/x-icon" th:href="@{/Font/assets/images/icon.jpg}">
    <link rel="shortcut icon" type="image/png" th:href="@{/Font/assets/images/icon/favicon.ico}">
    <link rel="stylesheet" th:href="@{/Font/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/Font/assets/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/Font/assets/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/Font/assets/css/metisMenu.css}">
    <link rel="stylesheet" th:href="@{/Font/assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/Font/assets/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{https://www.amcharts.com/lib/3/plugins/export/export.css}" type="text/css" media="all">
    <script th:src="@{https://code.highcharts.com/highcharts.js}"></script>
    <script th:src="@{https://cdn.zingchart.com/zingchart.min.js}"></script>
    <link rel="stylesheet" th:href="@{/Font/assets/css/typography.css}">
    <link rel="stylesheet" th:href="@{/Font/assets/css/default-css.css}">
    <link rel="stylesheet" th:href="@{/Font/assets/css/styles.css}">
    <link rel="stylesheet" th:href="@{/Font/assets/css/responsive.css}">
    <script th:src="@{/Font/assets/js/vendor/modernizr-2.8.3.min.js}"></script>
    <style>
        .rounded-image {
            border-radius: 30%;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div id="preloader">
    <div class="loader"></div>
</div>
<div class="page-container">
    <div class="sidebar-menu">
        <div class="sidebar-header">
            <div class="logo">
                <a th:href="@{/Movie/Index}">
                    <img th:src="@{/Font/User/img/Panda.png}" height="120px" width="240px" alt="" class="rounded-image">
                </a>
            </div>
        </div>
        <div class="main-menu">
            <div class="menu-inner">
                <nav>
                    <ul class="metismenu" id="menu">
                        <li><a th:href="@{/movies/Admin/Index}">Movies</a></li>
                        <li><a th:href="@{/screenings}">Screenings</a></li>
                        <li><a th:href="@{/cinemas}">Cinemas</a></li>
                        <li><a th:href="@{/rooms/index}">Rooms</a></li>
                        <li><a th:href="@{/Account}">Accounts</a></li>
                        <li><a th:href="@{/admin/dailyRevenue}">Daily Revenue</a></li>
                        <li><a th:href="@{/categories}">Categories</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="header-area">
            <div class="row align-items-center">
                <div class="col-md-6 col-sm-8 clearfix">
                    <div class="nav-btn pull-left">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-4 clearfix">
                    <ul class="notification-area pull-right">
                        <li id="full-view"><i class="ti-fullscreen"></i></li>
                        <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                        <li class="dropdown">
                            <i class="ti-bell dropdown-toggle" data-toggle="dropdown">
                                <span>2</span>
                            </i>
                            <div class="dropdown-menu bell-notify-box notify-box">
                                <span class="notify-title">You have 3 new notifications <a href="#">view all</a></span>
                                <div class="nofity-list">
                                    <a href="#" class="notify-item">
                                        <div class="notify-thumb"><i class="ti-key btn-danger"></i></div>
                                        <div class="notify-text">
                                            <p>You have Changed Your Password</p>
                                            <span>Just Now</span>
                                        </div>
                                    </a>
                                    <!-- More notifications here -->
                                </div>
                            </div>
                        </li>
                        <li class="dropdown">
                            <i class="fa fa-envelope-o dropdown-toggle" data-toggle="dropdown"><span>3</span></i>
                            <div class="dropdown-menu notify-box nt-enveloper-box">
                                <span class="notify-title">You have 3 new notifications <a href="#">view all</a></span>
                                <div class="nofity-list">
                                    <a href="#" class="notify-item">
                                        <div class="notify-thumb">
                                            <img th:src="@{/Font/assets/images/author/author-img1.jpg}" alt="image">
                                        </div>
                                        <div class="notify-text">
                                            <p>Aglae Mayer</p>
                                            <span class="msg">Hey I am waiting for you...</span>
                                            <span>3:15 PM</span>
                                        </div>
                                    </a>
                                    <!-- More notifications here -->
                                </div>
                            </div>
                        </li>
                        <li class="settings-btn">
                            <i class="ti-settings"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-title-area">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="breadcrumbs-area clearfix">
                        <h4 class="page-title pull-left">Dashboard</h4>
                        <ul class="breadcrumbs pull-left">
                            <li><a class="nav-link" th:href="@{/movies}">Home</a></li>
                            <li><span>Dashboard</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 clearfix">
                    <div class="user-profile pull-right">
                        <!-- Dynamic user image and details -->
                        <h4 class="user-name dropdown-toggle" data-toggle="dropdown" th:text="${#authentication.getPrincipal().getUsername()} + ' '"><i class="fa fa-angle-down"></i></h4>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Message</a>
                            <a class="dropdown-item" href="#">Settings</a>
                            <a class="dropdown-item" href="#" onclick="document.getElementById('logoutForm').submit();">Logout</a>
                            <form id="logoutForm" class="form-inline" th:action="@{/logout}" method="post" style="display: none;">
                                <button type="submit"></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <section layout:fragment="content">
            </section>
        </div>
    </div>
</div>
<footer>
    <div class="footer-area">
        <p>&copy; Copyright 2018. All right reserved. Template by <a href="https://colorlib.com/wp/">Colorlib</a>.</p>
    </div>
</footer>
<script th:src="@{/Font/assets/js/vendor/jquery-2.2.4.min.js}"></script>
<script th:src="@{/Font/assets/js/popper.min.js}"></script>
<script th:src="@{/Font/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/Font/assets/js/owl.carousel.min.js}"></script>
<script th:src="@{/Font/assets/js/metisMenu.min.js}"></script>
<script th:src="@{/Font/assets/js/jquery.slimscroll.min.js}"></script>
<script th:src="@{/Font/assets/js/jquery.slicknav.min.js}"></script>
<script th:src="@{https://www.amcharts.com/lib/3/amcharts.js}"></script>
<script th:src="@{https://www.amcharts.com/lib/3/serial.js}"></script>
<script th:src="@{https://www.amcharts.com/lib/3/plugins/export/export.min.js}"></script>
<script th:src="@{https://www.amcharts.com/lib/3/themes/light.js}"></script>
<script th:src="@{/Font/assets/js/line-chart.js}"></script>
<script th:src="@{/Font/assets/js/pie-chart.js}"></script>
<script th:src="@{/Font/assets/js/plugins.js}"></script>
<script th:src="@{/Font/assets/js/scripts.js}"></script>
</body>
</html>
